
<%= search_form_for @p, url: camppostsearches_search_path do |f| %>
  <%= f.label '都道府県で記事検索' %>
  <%= f.collection_select :prefecture_id_eq, Prefecture.all, :id, :name, include_blank: '指定なし' %>
  <%= f.submit '検索' %>

  <br>
  <%# 商品一覧 %>
  <% @campposts.each do |camppost| %>
  <td>
  <br>
  <li>
    <%= camppost.name %>
    <%#= camppost.category.name %>
  </li>
  <% end %>




<% end %>

