
<div class='main'>

 <h1 class="title">
   <%= @user.username %>
   <span>さんのマイページ</span>
 </h1>
  


<div class="mypage-links">
 <div class="link-box">
 <%= link_to "新規記事投稿", new_camppost_path, class: "button is_warning is-light" %>
 </div>
 <% if current_user == @user  %>
  <div class="link-box">
   <%= link_to "ユーザー情報の編集", edit_user_registration_path, class: "button is_warning is-light" %>
  </div>
 <% end %>
</div>



 <ul class='camppost-lists'>
   <% @user.campposts.each do |camppost| %>
  <div class="campposts-box">
   <div class='camppost-img-content'>
     <%= image_tag camppost.image.variant(resize: '320x350'), class: 'camppost-image' if camppost.image.attached? %>
   </div>  

      <div class='camppost-info'>
        <span>都道府県名:<%= camppost.prefecture.name %></span>  
      </div>

      <div class='camppost-info'>
        <span>キャンプ場名:<%= camppost.name %></span>
      </div>
 
      <div class='link'>
        <%= link_to"記事詳細へ", camppost_path(camppost) %>
      </div>




   </div>

  <% end %>
 </ul> 



</div>