


<div class='camppost-contents'>

   <div class='post-top'>
    <div class="post-top-box">
     <div class='page-title'>
        投稿一覧
     </div>
   
     <div class="page-comment-introduction">
        <div class='page-comment1'>
        ユーザーの皆さんの投稿です!
        </div>
        <div class='page-comment2'>
        気になるキャンプ場をチェックしてみましょう!
        </div>
        <div class='search_form'>
           
         <div class='camppostsearche-box'>  


       <%= search_form_for @p, url: campposts_search_path do |f| %>
  <%= f.label '都道府県で記事検索' %>
  <%= f.collection_select :prefecture_id_eq, Prefecture.all, :id, :name, include_blank: '指定なし' %>
  <%= f.submit '検索' %>

  <br>
  <%# 商品一覧 %>


<% end %>



         </div>

        </div>
     </div> 
    </div>
   </div>

 <ul class='camppost-lists'>
  <% @campposts.each do |camppost| %>
  <div class="campposts-box">
   <div class='camppost-img-content'>
     <%= image_tag camppost.image.variant(resize: '320x350'), class: 'camppost-image' if camppost.image.attached? %>
   </div>  

      <div class='camppost-info'>
        <span>都道府県名:<%= camppost.prefecture.name %></span>  
      </div>

      <div class='camppost-info'>
        <span>キャンプ場名:<%= camppost.name %></span>
      </div>
 
      <div class='camppost-info'>
        <span>投稿者:<%= camppost.user.username%></span>
      </div>
       

      <div class='link'>
        <%= link_to"記事詳細へ", camppost_path(camppost) %>
      </div>
 
   </div>

  <% end %>
 </ul> 



</div>