<!DOCTYPE html>
<html>
  <head>
    <title>Campapp31513</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if flash[:notice] %>
   <div class="notification is-info" >
       <p class="notice"><%= notice %></p>
    </div>
  <% end %>     


  <% if flash[:alert] %>
   <div class="notification is-danger" >
       <p class="alert"><%= alert %></p>
   </div>
  <% end %>     

<% if user_signed_in? %> 
  <%= link_to current_user.username, user_path(current_user), class: "user-username" %></li> 
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "button is_warning is-light" %>
  <%= link_to "マイページへ", user_path(current_user), class: "button is_warning is-light" %>
  <%= link_to "記事投稿", new_camppost_path, class: "button is_warning is-light" %>


 <% else %> 
  <%= link_to "新規登録", new_user_registration_path, class: "button is_warning is-light" %>
  <%= link_to "ログイン", new_user_session_path, class: "button is_warning is-light" %>

<% end %>


  <%= link_to "ユーザー一覧へ", users_path, class: "button is_warning is-light" %>
  <%= link_to "記事一覧へ", campposts_path, class: "button is_warning is-light" %>





    <%= yield %>
  </body>
</html>
